body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
}
.popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100000;
}
.popup>div{
  margin-top: 25px;
}

.header{
  position: fixed;
  width: 100%;
  height: 15px;
  top: 0px;
  left: 0;
  color: white;
  background-color: black;
  padding: 3px 3px 3px 3px;
  z-index: inherit;
}

.header>span:first-child{
  float: left; 
}
.clickable{
  color: -webkit-link;
  text-decoration: underline
}
.reviews_4_and_more{
  max-width: 400px;
}
.articles_4_and_more{
  background-color: rgb(243, 196, 196)
}
.photos_and_more{
  margin:0 auto; 
  width:250px; 
}

.review{
  background-color: whitesmoke;
  margin-bottom: 2px;
}


.review_stars img{
  width: 20px;
}
.reviews_per_platfrom img{
  max-width: 100%;
  max-width: 200px;
}
.review_stars.number_reviews_not{
  float: right;
  margin-bottom: 10px;
}
.reviews_per_platfrom .vendor_logo{
  float: left;
}


.reviews_per_platfrom li{
  display: inline-block;
  max-width: 400px;
}

.menus{
  background-color: rgb(230, 230, 230);  
}

.menu-icon{
  width:30px;  
}

.menus .vendor_logo,.articles_4 .vendor_logo{
  height: 40px;
}

.photos_links .vendor_logo{
  height: 20px;
  width: 20px;
}


.articles_4 il{
  display: inline-block;
  padding-right:8px;
}
.articles_4 il{
  width: 70%;
}

.articles_4 il.logo{
  width: 30%;
}

#section1{
  margin-top: 54px;
}


@media (max-width : 768px) {
  .navbar.navbar-inverse.navbar-fixed-top {
      display: none;
  }
}