<div style="width:20%;position: fixed;top: 0px;left: 80%;height:500px;overflow: auto;">
    <div id="placeholder">
        <button onclick="search()">help me</button>
    </div>
</div>

<script type="text/javascript" src="static/scripts.js">
</script> 

