<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/scripts.js"></script> 

</head>

<body>

<div id="placeholder">
    <ul id="restaurant_placeholder">
            <% if (data.length==0) { %>
                <h2>sorry couldn't find anything</h2>
            <% } else {%>
                <% data.forEach(function(location) { %>
                <li>
                    <button onclick="reviews('reviews/?name= <%= location.description %>')"><%= location.description %></button>
                </li>
                <% }); %>
            <% } %>
        </ul> 
        <div id="reviews_placeholder">
        </div>       
</div>


</body>

</html>