<div id="placeholder">
    <ul id="restaurant_placeholder">
            <% data.forEach(function(location) { %>
                <li>
                    <button onclick="reviews('reviews/?name= <%= location.description %>')"><%= location.description %></button>
                </li>
            <% }); %>
        </ul> 
        <div id="reviews_placeholder">
        </div>       
</div>

<script type="text/javascript" src="static/scripts.js">
</script> 

